CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

CONFIG_ESP_BOARD_PERIPH_I2S_SUPPORT=y
CONFIG_ESP_BOARD_PERIPH_I2C_SUPPORT=y
CONFIG_ESP_BOARD_PERIPH_SPI_SUPPORT=y
CONFIG_ESP_BOARD_PERIPH_UART_SUPPORT=y
CONFIG_ESP_BOARD_PERIPH_RMT_SUPPORT=y

CONFIG_APP_CLAW_LUA_MODULE_ENVIRONMENTAL_SENSOR=y
CONFIG_LUA_MODULE_ENVIRONMENTAL_SENSOR_BACKEND_BME690=n
CONFIG_LUA_MODULE_ENVIRONMENTAL_SENSOR_BACKEND_DHT=y
